.view{
    padding: 1.8rem .7rem 0;
    .logo{
        text-align: center;
        img{
            width: 320px;
        }
        p{
            color: #108ee9;
            font-size: 32px;
            margin: 0;
        }
    }
    .des{
        background-color: #fff;
        border-radius: 8px;
        padding: 20px;
        margin-top: 30px;
        color: #000;
    }
    .link{
        position: fixed;
        left: 70px;
        bottom: 30px;
        font-size: 26px;
    }
}
