.nomal{
    padding: 0 .2rem;
    .subheader{
        font-size: .24rem;
        color: #555;
    }
    .inner{
        padding: .2rem;
        background-color: #fff;
        border-radius: .08rem;
        margin-bottom: .2rem;
        .textarea{
            background-color: #eee;
            padding: 0!important;
            border-radius: .08rem;
        }
    }
}
