.container{
    padding: 30px 16px 0;
    input{
        display: block;
        width: 100%;
        padding: 20px 12px;
        border: 1PX solid #ddd;
        border-radius: 8px;
        box-sizing: border-box;
        transition: border .3s cubic-bezier(0.42,0,0.58,1);
        &:focus{
            border-color: #108ee9;
        }
    }
}
.popups{
    padding: 40px 80px;
    button{
        border: none;
        color: #fff;
        background-color: #74da92;
        position: relative;
        &:first-child{
            background-color: #04c7ce;
        }
        &:last-child{
            background-color: #ccc;
        }
        input{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
        }
    }
}
.imagePicker{
    background-repeat: no-repeat;
    background-size: cover;
}
