.container{
  overflow-y: auto;
  height: calc(100vh - 178px)
}
/*.container .am-list-item:nth-child(2n){
    background-color: #fff
}*/
.items:nth-child(2n) .item{
    background-color: #efeef4;
    color: #108ee9
}
.items:nth-child(2n+1) .item{
    background-color: #fff;
    color: #108ee9
}
