.container{
    background-color: #fff;
    .items{
        &:nth-child(2n){
            .item{
                background-color: #efeef4;
                color: #108ee9
            }
        }
        &:nth-child(2n+1){
            .item{
                background-color: #fff;
                color: #108ee9
            }
        }
    }
    .contacts{
        display: flex;
        justify-content: center;
        padding: 32px 60px 32px 30px;
        flex-direction: column;
        position: relative;
        .text{
            color: #7888af;
            margin-top: 0;
            margin-bottom: 10px;
        }
        .brief{
            font-size: 28px;
            color: rgba(0, 0, 0, 0.541176);
            .i{
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
            i{
                margin-right: 6px;
            }
        }
        .btn{
            padding: 24px;
            position: absolute;
            right: 15px;
            top: 40px;
            i{
                color: #a2dd86
            }
        }
    }

}
.emtpy{
    color: #7888af;
    text-align: center;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
:global {
  .list-leave.list-leave-active,
  .list-enter {
    opacity: 0.01;
  }
  .list-leave,
  .list-enter.list-enter-active {
    opacity: 1;
  }

  .item-leave.item-leave-active,
  .item-enter {
    opacity: 0.01;
    transform: translate(30px, 0);
  }
  .item-leave,
  .item-enter.item-enter-active {
    opacity: 1;
    transform: translate(0, 0);
    transition: all .5s cubic-bezier(.55, 0, .1, 1);
  }
}
