.lists{
    background-color: #fff;
    .subheader{
        color: rgba(0, 0, 0, 0.541176);
        font-size: 28px;
        font-weight: 500;
        line-height: 60px;
        width: 100%;
        padding: 0 30px;
    };
    .listContext{
        border: 1px solid #ddd;
        border-radius: 4px;
        margin-bottom: 30px;
        .am-input-item{
            padding-left: 0;
            padding-right: 0;
        }
        .input{
            height: 80px;
            min-height: 80px;
            .am-input-label{
                font-size: 28px;
            }
            input{
                text-align: right;
            }
        }
        .item{
            height: 80px;
            min-height: 80px;
            overflow: hidden;
        }
    }

}
